.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app-main {
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  background-color: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .app-main {
    width: calc(100% - 240px);
  }
}
